<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.systemui" android:versionCode="19" android:versionName="4.4.2-eng.buildteam.20140401.000537" package="com.android.systemui" coreApp="true"
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:androidprv="http://schemas.android.com/apk/prv/res/android">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_ALL_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <uses-permission android:name="android.permission.DUMP" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.STATUS_BAR_SERVICE" />
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.REMOTE_AUDIO_PLAYBACK" />
    <uses-permission android:name="android.permission.MANAGE_USERS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CONFIGURE_WIFI_DISPLAY" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_APP_OPS_STATS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_NETWORK_POLICY" />
    <uses-permission android:name="android.permission.MANAGE_USB" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_DETAILED_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.REMOVE_TASKS" />
    <uses-permission android:name="android.permission.STOP_APP_SWITCHES" />
    <uses-permission android:name="android.permission.SET_SCREEN_COMPATIBILITY" />
    <uses-permission android:name="android.permission.START_ANY_ACTIVITY" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO" />
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER" />
    <uses-permission android:name="android.permission.MANAGE_APP_TOKENS" />
    <uses-permission android:name="android.permission.SET_ORIENTATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_DREAM_STATE" />
    <uses-permission android:name="android.permission.WRITE_DREAM_STATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.CONTROL_KEYGUARD" />
    <uses-permission android:name="android.permission.CONFIGURE_WIFI_DISPLAY" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="com.android.settings.permission.ACCESS_SETTINGS" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.BACKUP" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="com.htc.permission.APP_MEDIA" />
    <uses-permission android:name="com.htc.permission.APP_SHARED" />
    <uses-permission android:name="com.htc.permission.APP_DEFAULT" />
    <uses-permission android:name="com.htc.permission.APP_PLATFORM" />
    <uses-permission android:name="com.htc.sense.permission.album.GENERAL" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="com.sprint.internal.permission.DEVICEMANAGEMENT" />
    <uses-permission android:name="com.htc.framework.permission.ACCESS_CW_FOLDER" />
    <application android:label="@string/app_label" android:icon="@*android:drawable/platlogo" android:allowClearUserData="false" android:persistent="true" android:process="com.android.systemui" android:backupAgent=".statusbar.quicksetting.QuickSettingAgent" android:allowBackup="true" android:killAfterRestore="false" android:restoreAnyVersion="true" android:hardwareAccelerated="true" android:supportsRtl="true" allowSkinChange="true">
        <service android:name="SystemUIService" android:exported="true" />
        <service android:name=".screenshot.TakeScreenshotService" android:exported="false" android:process=":screenshot" />
        <service android:name=".LoadAverageService" android:exported="true" />
        <service android:name=".ImageWallpaper" android:permission="android.permission.BIND_WALLPAPER" android:exported="true" />
        <receiver android:name=".BootReceiver" androidprv:primaryUserOnly="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity android:label="@*android:string/usb_storage_activity_title" android:name=".usb.UsbStorageActivity" android:excludeFromRecents="true" />
        <activity android:theme="@*android:style/Theme.Dialog.Alert" android:name="com.android.internal.app.ExternalMediaFormatActivity" android:excludeFromRecents="true" />
        <activity android:theme="@style/RecentsStyle" android:label="@string/accessibility_desc_recent_apps" android:name=".recent.RecentsActivity" android:exported="true" android:excludeFromRecents="true" android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.android.systemui.TOGGLE_RECENTS" />
            </intent-filter>
        </activity>
        <receiver android:name=".recent.RecentsPreloadReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.android.systemui.recent.action.PRELOAD" />
                <action android:name="com.android.systemui.recent.action.CANCEL_PRELOAD" />
            </intent-filter>
        </receiver>
        <activity android:theme="@*android:style/Theme.Holo.Dialog.Alert" android:name=".usb.UsbConfirmActivity" android:permission="android.permission.MANAGE_USB" android:exported="true" android:excludeFromRecents="true" android:finishOnCloseSystemDialogs="true" />
        <activity android:theme="@*android:style/Theme.Holo.Dialog.Alert" android:name=".usb.UsbPermissionActivity" android:permission="android.permission.MANAGE_USB" android:exported="true" android:excludeFromRecents="true" android:finishOnCloseSystemDialogs="true" />
        <activity android:theme="@*android:style/Theme.Holo.Dialog.Alert" android:name=".usb.UsbResolverActivity" android:permission="android.permission.MANAGE_USB" android:exported="true" android:excludeFromRecents="true" android:finishOnCloseSystemDialogs="true" />
        <activity android:theme="@*android:style/Theme.Holo.Dialog.Alert" android:name=".usb.UsbAccessoryUriActivity" android:permission="android.permission.MANAGE_USB" android:exported="true" android:excludeFromRecents="true" android:finishOnCloseSystemDialogs="true" />
        <activity android:theme="@*android:style/Theme.Holo.Dialog.Alert" android:name=".usb.UsbDebuggingActivity" android:permission="android.permission.MANAGE_USB" android:excludeFromRecents="true" android:finishOnCloseSystemDialogs="true" />
        <activity android:theme="@*android:style/Theme.Holo.Panel" android:name=".net.NetworkOverLimitActivity" android:permission="android.permission.MANAGE_NETWORK_POLICY" android:exported="true" android:taskAffinity="com.android.systemui.net" android:excludeFromRecents="true" android:launchMode="singleTop" android:finishOnCloseSystemDialogs="true" />
        <activity android:theme="@*android:style/Theme.Black.NoTitleBar.Fullscreen" android:label="@string/dessert_case" android:name=".DessertCase" android:exported="true" android:process=":sweetsweetdesserts" android:excludeFromRecents="true" android:launchMode="singleInstance" android:screenOrientation="locked" android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.android.internal.category.PLATLOGO" />
            </intent-filter>
        </activity>
        <service android:label="@string/dessert_case" android:name=".DessertCaseDream" android:enabled="false" android:exported="true" android:process=":sweetsweetdesserts">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <activity android:theme="@*android:style/Theme.Wallpaper.NoTitleBar" android:label="@string/start_dreams" android:icon="@mipmap/ic_launcher_dreams" android:name=".Somnambulator" android:exported="true" android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.DESK_DOCK" />
            </intent-filter>
        </activity>
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:name=".recent.RecentAppFxActivity" android:exported="false" android:process=":recentapp" android:excludeFromRecents="true" android:launchMode="singleInstance" android:windowSoftInputMode="stateAlwaysHidden" android:noHistory="true" />
        <activity android:theme="@style/Theme.QuickContact" android:name=".statusbar.quicksetting.QuickContactActivity" android:exported="false" android:excludeFromRecents="true" android:launchMode="singleInstance" android:configChanges="orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden" android:noHistory="true" />
        <activity android:theme="@style/QuickSettingTheme" android:name=".statusbar.quicksetting.QuickSettingReorderActivity" android:exported="false" android:process=":qs_reorder" android:excludeFromRecents="true" android:launchMode="singleInstance" android:configChanges="orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:theme="@style/Theme.QuickContact" android:name=".statusbar.quicksetting.QuickMobileRoamingActivity" android:exported="false" android:excludeFromRecents="true" android:launchMode="singleInstance" android:configChanges="orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden" android:noHistory="true" />
        <activity android:theme="@style/Theme.QuickContact" android:name=".statusbar.quicksetting.QuickRestrictActivity" android:exported="false" android:excludeFromRecents="true" android:launchMode="singleInstance" android:configChanges="orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden" android:noHistory="true" />
        <activity android:theme="@style/Theme.QuickContact" android:name=".statusbar.quicksetting.QuickPSWarningActivity" android:exported="false" android:excludeFromRecents="true" android:launchMode="singleInstance" android:configChanges="orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden" android:noHistory="true" />
        <activity android:theme="@style/Theme.QuickContact" android:name=".statusbar.quicksetting.QuickHSWarningActivity" android:exported="false" android:excludeFromRecents="true" android:launchMode="singleInstance" android:configChanges="orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden" android:noHistory="true" />
        <meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAIWTZsUG100coeb3xbEoTWKd3ZL3R79JshRDZfYQ" />
    </application>
</manifest>